.toast-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 9999;
}

.toast-container {
  width: 75vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  pointer-events: auto;
}
